:host {
  box-sizing: border-box;
  display: block;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid rgb(141, 141, 141);
  position: relative;

}

.scaling-svg {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url('./../../../../../assets/Blue-Wave-Background.svg');

}

path {
  fill: #c935dc;
  stroke: white;
  stroke-width: 0.2px;
  stroke-linejoin: round;

  &:hover {
    fill: white;
    stroke: black;
  }

  &.correct {
    fill: green;
  }

  &.incorrect {
    fill: #dc3545;
  }
}
